
body {
	background-color: papayawhip;
	font-family: "Georgia", serif;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}


.headline {
	color: #151E3D;
	font-size: 23px;
	font-family: Georgia, serif;
	padding-top: 30px;
	
}

.byline {
	color: #151E3D;
}

.narrative {
	color: #151E3D;
	font-family: Georgia, serif;
	font-size: 19px;
	line-height: 30px;
	background-color: #FDF6E4;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 40px;

}

.viz1 {
	color: #151E3D;
	background-color: #fcd4a7;
	font-family: Georgia, serif;
	font-size: 16px;
	padding-top: 50px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 40px;

}


.viz2 {
	color: #151E3D;
	font-family: Georgia, serif;
	font-size: 16px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;

}

.viz3 {
	color: #151E3D;
	font-family: Georgia, serif;
	font-size: 16px;
	padding-top: 50px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 40px;

}
